* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: silver;
}

form {
    margin-top: 50px;
}

#city {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    border-radius: 15px;
    height: 40px;
    width: 500px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#city:active {
    border: 1px solid white;
}

#city-button {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    font-size: 20px;
}

#city-button:hover {
    cursor: pointer;
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 300px;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 25px;
}

.weather {
    grid-column: 1;
}

.location {
    grid-column: 2;
}

.info {
    border: 3px solid white;
    border-radius: 15px;
    font-size: 40px;
    color: white;
    text-align: center;
}